version: '3'
services:
  app-backend:
    container_name: go-fiber-boilerplate
    build: .
    restart: on-failure
    env_file:
      - .env
    environment:
      - HOST=${HOST}
      - PORT=${PORT}
      - GO_ENV=${GO_ENV}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
    ports:
      - ${PORT}:${PORT}
    volumes:
      - app-backend:/app
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:15-alpine
    container_name: postgres-boilerplate
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
      - DB_HOST=${DB_HOST}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  app-backend:
  postgres:
networks:
  app-network:
    driver: bridge
