name: Go-Fiber-Boilerplate

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Go 1.19
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
        id: go

      - name: lint
        run: golangci-lint run ./...

      - name: build
        run: go build -v ./...
